{
  "env": {
    "browser": true
  },
  "extends": ["react-app", "plugin:prettier/recommended", "eslint:recommended"],
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "max-len": ["error", { "code": 200, "ignoreUrls": true }],
    "no-console": "off",
    "no-restricted-globals": "error"
  }
}
